.container {
    max-width: 150rem;
    margin: 5rem auto;
    box-shadow: var(--shadow-dark);
    min-height: 55rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }
 }

.content {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: var(--color-grey3);
    flex: 0 0 12%;
}

#main-view {
    background-image: linear-gradient(to top left, var(--color-primary-dark), var(--color-primary-light));
    height: 75vh;
    text-align: center;

    @media only screen and (max-width: $bp-large) {
        height: 50vh;
    }

    @media only screen and (max-height: $bp-med) {
        height: 110vh;
    }
}

#description {
    width: 100%;
    padding: 5rem 20%;
    font-size: 1.1rem;
    color: var(--color-grey2);
    animation: moveRight 3s ease-out;
}

#projects {
    height: 110vh;
    position: relative;

    @media only screen and (max-width: $bp-font) {
        height: 130vh;
    }

    @media only screen and (max-height: $bp-med) {
        height: 180vh;
    }
}


